# Tutorial 1

## Question 1
A time `t` in seconds can be converted to days, hours, minutes and seconds using integer division:

1. Divide `t` by 60; set `t` to the quotient and call the remainder `s`.
1. Divide `t` by 60; set `t` to the quotient and call the remainder `m`.
1. Divide `t` by 24; set `d` to the quotient and call the remainder `h`.

Calculate the number of days, hours, minutes and seconds in one million seconds. Display the result as follows:

    1000000 seconds is xx days H:M:S

## Question 3

We can calculate how many digits there are in a number by repeatedly dividing by 10 until the number is less than one.

 - Write peudo-code for this calculation
 - Write a Python program to implement this, displaying the result in the format `1234 has 4 digits.`
 - Test your program with a variety of numbers
 - Extend your program so that it works for negative numbers

In [2]:
t = 1000000
t_orig = t
s = t % 60
t = t // 60
m = t % 60
t = t // 60
h = t % 24
d = t // 24

print(t_orig, " seconds is ", d, " days ", h, ":", m, ":", s, sep="")

1000000 seconds is 11 days 13:46:40

## Question 2 (The Collatz Problem)

Given a positive integer `n`, the Collatz Operation is defined as follows:
    
 - If the number is even, divide it by two
 - If the number is odd, triple it and add one
 
Repeatedly applying the Collatz Operation results in a sequence if integers which eventually reaches the number 1.

Write a program which generates the Collatz Sequence for a given positive integer $n$. 

For example, if `n = 5` then your program should produce the following:

```
5
16
8
4
2
1
```

Now try your program with negative values of `n`. What happens? Explain why.

In [12]:
n = 5510

print(n)
while n != 1:
    if n % 2 == 0:
        n = n //2
    else:
        n = 3*n + 1
    print(n)

5510
2755
8266
4133
12400
6200
3100
1550
775
2326
1163
3490
1745
5236
2618
1309
3928
1964
982
491
1474
737
2212
1106
553
1660
830
415
1246
623
1870
935
2806
1403
4210
2105
6316
3158
1579
4738
2369
7108
3554
1777
5332
2666
1333
4000
2000
1000
500
250
125
376
188
94
47
142
71
214
107
322
161
484
242
121
364
182
91
274
137
412
206
103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

## Question 4 (Optional Challenge)

Given a positive integer $n$, define the Collatz Number $C(n)$ to be the length of the Collatz Sequence for $n$. For example $C(5) = 6$.

What is the smallest number $n$ whose Collatz Number $C(n)$ is greater than one million?